In [1]:
from absenteeism_module import *

model = absenteeism_model('model', 'scaler')

model.load_and_clean_data('Absenteeism_new_data.csv')

model.predicted_outputs()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.873365,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.266253,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.198570,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.720861,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.713817,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.567672,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.131870,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.519472,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.456496,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.348951,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.082994,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.166060,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.498300,0
18,0,0.0,0,1,6,291,40,25,0,1,1,0.389155,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.498884,0
20,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.514372,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.349483,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.243683,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.492733,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.259972,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.966856,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.912676,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.749877,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.019429,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.262871,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.064846,0

In [2]:
import pymysql

In [3]:
conn = pymysql.connect(database = 'predicted_outputs', user = 'root', password = '142536')

In [4]:
cursor = conn.cursor()

## Checkpoint

In [5]:
df_new_obs = model.predicted_outputs()
df_new_obs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.873365,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.266253,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.198570,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.720861,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.713817,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.567672,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.131870,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.519472,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.456496,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.348951,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.082994,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.166060,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.498300,0
18,0,0.0,0,1,6,291,40,25,0,1,1,0.389155,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.498884,0
20,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.514372,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.349483,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.243683,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.492733,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.259972,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.966856,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.912676,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.749877,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.019429,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.262871,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.064846,0

## .execute()

In [6]:
query = 'SELECT * FROM predicted_outputs;'

In [7]:
cursor.execute(query)

0

## Creating the INSERT Statement

In [8]:
insert_query = 'INSERT INTO predicted_outputs VALUES'

In [9]:
insert_query

'INSERT INTO predicted_outputs VALUES'

In [10]:
df_new_obs.shape

(40, 13)

In [11]:
df_new_obs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Probability', 'Prediction'], dtype=object)

### Retrieving a colum value
#### 2 methods
#### Number 1

In [12]:
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

#### Number 2

In [13]:
df_new_obs[df_new_obs.columns.values[6]]

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

### Retriving a single value

In [14]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

### Let's loop it out

In [15]:
for i in range (df_new_obs.shape[0]):
    
    insert_query += '(' # with this, we are gonng start every row with row with open parenthesis
    
    for j in range(df_new_obs.shape[1]): ## This is for every column of our dataframe
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', ' ## We want to covert the value from each column into a String
        #
        #important: we need the values within parenthesis (xx, xx, xx) so, we do that with
        # we are skipping the last 2 characters that are the comma and the white space and changing them for "), "
        
    insert_query = insert_query[:-2] + '), '  ## And add it to our insert statement

In [16]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480605, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8733647892014482, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26625344402537837, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.19856972989115024, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7208612143665547, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7138174390776074, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5676722878553673, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480605, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.13186993195486596, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5194719164744293, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.45649621810645324, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6385275591831553, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.34895114210276873, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480605, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.0829935270191595, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1660598655171727, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6385275591831553, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4982995464917915, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.38915470484590764, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.4988843125505574, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169197, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05193861568642927, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5200557735023783, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5200557735023783, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05193861568642927, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5143722492274808, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.34948273249109996, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.633412570104091, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169197, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.633412570104091, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.2436826901026193, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169197, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4927328256638937, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.2599716013204371, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9668558205832312, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9126760303336983, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7498771686615039, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.019428809679914758, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2628714433960281, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.06484649016369645, 0), '

### As you can see, our output doesn't end with the ' ; ' we need at the end of our SQL statement, so we are gonna fix it outside the loop

In [17]:
insert_query = insert_query[:-2] + ';'

In [18]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480605, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8733647892014482, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26625344402537837, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.19856972989115024, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7208612143665547, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7138174390776074, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5676722878553673, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480605, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.13186993195486596, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5194719164744293, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.45649621810645324, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6385275591831553, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.34895114210276873, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480605, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.0829935270191595, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1660598655171727, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6385275591831553, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4982995464917915, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.38915470484590764, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.4988843125505574, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169197, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05193861568642927, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5200557735023783, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5200557735023783, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05193861568642927, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5143722492274808, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.34948273249109996, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.633412570104091, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169197, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.633412570104091, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.2436826901026193, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169197, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4927328256638937, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.2599716013204371, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9668558205832312, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9126760303336983, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7498771686615039, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.019428809679914758, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2628714433960281, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.06484649016369645, 0);'

In [19]:
cursor.execute(insert_query)

40

### To load this into SQL. I have to commit the changes to the connection created.

In [20]:
conn.commit()

#### After this, I have to go to SQL and reconect to the database.

#### And then, we can close the connection executing the following code
#### This is a standard procedure when we have finished working with your connection.

In [21]:
conn.close()